.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  -webkit-box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background: #6082b6;
  color: #333;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.menu-icon {
  width: 80px;
  height: 52px;
  cursor: pointer;
  z-index: 50;
}

.menu-icon:hover .line-one, .menu-icon:hover .line-two, .menu-icon:hover .line-three {
  background: #fff;
}

.menu-icon.active .line-one, .menu-icon.active .line-two, .menu-icon.active .line-three {
  background: #fff;
}

.menu-icon.active .line-one {
  -webkit-animation: animate-one 0.7s cubic-bezier(0.3, 1, 0.7, 1) forwards;
          animation: animate-one 0.7s cubic-bezier(0.3, 1, 0.7, 1) forwards;
}

.menu-icon.active .line-two {
  -webkit-animation: animate-two 0.7s cubic-bezier(0.3, 1, 0.7, 1) forwards;
          animation: animate-two 0.7s cubic-bezier(0.3, 1, 0.7, 1) forwards;
}

.menu-icon.active .line-three {
  -webkit-animation: animate-three 0.7s cubic-bezier(0.3, 1, 0.7, 1) forwards;
          animation: animate-three 0.7s cubic-bezier(0.3, 1, 0.7, 1) forwards;
}

.menu-icon .line-one, .menu-icon .line-two, .menu-icon .line-three {
  height: 8px;
  width: 100%;
  background: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.menu-icon .line-one {
  -webkit-animation: animate-one-rev 0.7s ease-in-out;
          animation: animate-one-rev 0.7s ease-in-out;
}

.menu-icon .line-two {
  margin: 14px 0;
  -webkit-animation: animate-two-rev 0.7s ease-in-out;
          animation: animate-two-rev 0.7s ease-in-out;
}

.menu-icon .line-three {
  -webkit-animation: animate-three-rev 0.7s ease-in-out;
          animation: animate-three-rev 0.7s ease-in-out;
}

.no-animation {
  -webkit-animation: none !important;
          animation: none !important;
}

@-webkit-keyframes animate-one {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
            transform: translate3d(0, 0, 0) rotate(0deg);
  }
  50% {
    -webkit-transform: translate3d(0, 22px, 0) rotate(0);
            transform: translate3d(0, 22px, 0) rotate(0);
  }
  100% {
    -webkit-transform: translate3d(0, 22px, 0) rotate(45deg);
            transform: translate3d(0, 22px, 0) rotate(45deg);
  }
}

@keyframes animate-one {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
            transform: translate3d(0, 0, 0) rotate(0deg);
  }
  50% {
    -webkit-transform: translate3d(0, 22px, 0) rotate(0);
            transform: translate3d(0, 22px, 0) rotate(0);
  }
  100% {
    -webkit-transform: translate3d(0, 22px, 0) rotate(45deg);
            transform: translate3d(0, 22px, 0) rotate(45deg);
  }
}

@-webkit-keyframes animate-two {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}

@keyframes animate-two {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
}

@-webkit-keyframes animate-three {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
            transform: translate3d(0, 0, 0) rotate(0deg);
  }
  50% {
    -webkit-transform: translate3d(0, -22px, 0) rotate(0);
            transform: translate3d(0, -22px, 0) rotate(0);
  }
  100% {
    -webkit-transform: translate3d(0, -22px, 0) rotate(135deg);
            transform: translate3d(0, -22px, 0) rotate(135deg);
  }
}

@keyframes animate-three {
  0% {
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
            transform: translate3d(0, 0, 0) rotate(0deg);
  }
  50% {
    -webkit-transform: translate3d(0, -22px, 0) rotate(0);
            transform: translate3d(0, -22px, 0) rotate(0);
  }
  100% {
    -webkit-transform: translate3d(0, -22px, 0) rotate(135deg);
            transform: translate3d(0, -22px, 0) rotate(135deg);
  }
}

@-webkit-keyframes animate-one-rev {
  0% {
    -webkit-transform: translate3d(0, 22px, 0) rotate(45deg);
            transform: translate3d(0, 22px, 0) rotate(45deg);
  }
  50% {
    -webkit-transform: translate3d(0, 22px, 0) rotate(0);
            transform: translate3d(0, 22px, 0) rotate(0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
            transform: translate3d(0, 0, 0) rotate(0deg);
  }
}

@keyframes animate-one-rev {
  0% {
    -webkit-transform: translate3d(0, 22px, 0) rotate(45deg);
            transform: translate3d(0, 22px, 0) rotate(45deg);
  }
  50% {
    -webkit-transform: translate3d(0, 22px, 0) rotate(0);
            transform: translate3d(0, 22px, 0) rotate(0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
            transform: translate3d(0, 0, 0) rotate(0deg);
  }
}

@-webkit-keyframes animate-two-rev {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes animate-two-rev {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes animate-three-rev {
  0% {
    -webkit-transform: translate3d(0, -22px, 0) rotate(135deg);
            transform: translate3d(0, -22px, 0) rotate(135deg);
  }
  50% {
    -webkit-transform: translate3d(0, -22px, 0) rotate(0);
            transform: translate3d(0, -22px, 0) rotate(0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
            transform: translate3d(0, 0, 0) rotate(0deg);
  }
}

@keyframes animate-three-rev {
  0% {
    -webkit-transform: translate3d(0, -22px, 0) rotate(135deg);
            transform: translate3d(0, -22px, 0) rotate(135deg);
  }
  50% {
    -webkit-transform: translate3d(0, -22px, 0) rotate(0);
            transform: translate3d(0, -22px, 0) rotate(0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
            transform: translate3d(0, 0, 0) rotate(0deg);
  }
}
/*# sourceMappingURL=styles.css.map */