.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
  background: #6082b6;
  color: #333;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Variables
$menu-line-height: 8px;
$menu-line-width: 80px;
$menu-line-space: 14px;
$menu-line-offsetY: $menu-line-height + $menu-line-space;
$menu-icon-height: (3 * $menu-line-height) + (2 * $menu-line-space);
$cubic-bezier-in: cubic-bezier(0.3, 1, 0.7, 1);
$cubic-bezier-out: cubic-bezier(1, 0.7, 1, 0.3);

.menu-icon {
  width: $menu-line-width;
  height: $menu-icon-height;
  cursor: pointer;
  z-index: 50;

  &:hover {
    .line {
      &-one,
      &-two,
      &-three {
        background: #fff;
      }
    }
  }

  &.active {
    .line {
      &-one,
      &-two,
      &-three {
        background: #fff;
      }

      &-one {
        animation: animate-one 0.7s $cubic-bezier-in forwards;
      }
      &-two {
        animation: animate-two 0.7s $cubic-bezier-in forwards;
      }
      &-three {
        animation: animate-three 0.7s $cubic-bezier-in forwards;
      }
    }
  }

  .line {
    &-one,
    &-two,
    &-three {
      height: $menu-line-height;
      width: 100%;
      background: #fff;
      border-radius: 3px;
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
      transition: background-color 0.2s ease-in-out;
    }

    &-one {
      animation: animate-one-rev 0.7s ease-in-out;
    }

    &-two {
      margin: $menu-line-space 0;
      animation: animate-two-rev 0.7s ease-in-out;
    }

    &-three {
      animation: animate-three-rev 0.7s ease-in-out;
    }
  }
}

.no-animation {
  // -webkit-animation: none !important;
  animation: none !important;
}

@keyframes animate-one {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  50% {
    transform: translate3d(0, $menu-line-offsetY, 0) rotate(0);
  }
  100% {
    transform: translate3d(0, $menu-line-offsetY, 0) rotate(45deg);
  }
}

@keyframes animate-two {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes animate-three {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
  50% {
    transform: translate3d(0, -$menu-line-offsetY, 0) rotate(0);
  }
  100% {
    transform: translate3d(0, -$menu-line-offsetY, 0) rotate(135deg);
  }
}

@keyframes animate-one-rev {
  0% {
    transform: translate3d(0, $menu-line-offsetY, 0) rotate(45deg);
  }
  50% {
    transform: translate3d(0, $menu-line-offsetY, 0) rotate(0);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
}

@keyframes animate-two-rev {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes animate-three-rev {
  0% {
    transform: translate3d(0, -$menu-line-offsetY, 0) rotate(135deg);
  }
  50% {
    transform: translate3d(0, -$menu-line-offsetY, 0) rotate(0);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
}
